<header class="header">
	<div class="container">
		<div class="header__wrapper">

			<a routerLink="/" class="header__logo">
				<img src="assets/img/logo2.png" alt="" class="header__logo-img">
			</a>
			<nav class="header__nav">
				<a routerLink="/events" class="header__nav-link">Events</a>
				<ng-container *ngIf="{isAuthorized: isAuthorized$ | async} as context">
					<ng-container *ngIf="context.isAuthorized === false">
						<a routerLink="/auth/sign-in" class="header__nav-link">Sign in</a>
						<a routerLink="/auth/register" class="header__nav-link">Register</a>
					</ng-container>
					<ng-container *ngIf="context.isAuthorized === true">
						<a routerLink="/profile" class="header__nav-link">Profile</a>
					</ng-container>
				</ng-container>
			</nav>

		</div>
	</div>
</header>