.header {
	padding: 5px 0;
	background-color:#ccecfb;	
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}

.header__nav {
	display: flex;
	gap: 10px;
}

.header__nav-link {
	color: #00408c;
	font-weight: bold;
}

.header__logo-img {
	--size: 3em;
	width: var(--size);
	height: var(--size);
}