<div class="page">
	<app-header class="header"></app-header>

	<main class="main">
		
		<section class="section section_events">
			<div class="container">
				
				<div class="events">
					
					<div class="event-card-wrapper">
						<ng-container *ngIf="eventConcerts$ | async as eventConcerts">
							<ng-container *ngIf="eventConcerts.length !== 0">
								<ng-container *ngFor="let eventConcert of eventConcerts">
									<div class="event-card" [attr.data-card-id]="eventConcert.id">
										<img class="event-card__img" [routerLink]="eventConcert.id" [src]="eventConcert.imgUrl">
										<div class="event-card__title" [routerLink]="eventConcert.id"> {{ eventConcert.title }} </div>
										<button
											mat-raised-button
											color="primary"
											[disabled]="eventConcert.buyed"
											(click)="addEventConcertToUser(eventConcert)"
										>
											{{ eventConcert.buyed ? 'Purchased' : 'Buy' }}
										</button>
									</div>
								</ng-container>
							</ng-container>
						</ng-container>
					</div>

				</div>
	
			</div>
		</section>
	
	</main>
	<app-footer></app-footer>
</div>