.section_events {
	padding: 40px 0;
}

.event-card-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, 200px);
	justify-content: center;
	gap: 50px;
	// place-items: center;
}

.event-card {
	display: grid;
	grid-auto-rows: auto;
	place-items: start;
	gap: 10px;
}

.event-card__title,
.event-card__img {
	cursor: pointer;
}

.event-card__quantity {
	display: flex;
	align-items: center;
	gap: 15px;
}

.form-filter {
	display: grid;
	grid-template-columns: repeat(auto-fit, 200px);
	justify-content: center;
	grid-auto-rows: auto;
	gap: 20px;
	margin: 0 auto;
	margin-bottom: 50px;
}
