.form-register {
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: minmax(auto, 300px);
	justify-content: center;
	gap: 20px;
}

.form-register__btn-submit {
	margin-top: 20px;
}

h1 {
	text-align: center;
	color: #00408c;	
	font-size: 1.5em;
}