<div class="page">
	<app-header></app-header>

	<main class="main">
		
		<section class="section section_register">
			<div class="container">
	
				<div>
					<h1>Register</h1>

					<form [formGroup]="form" class="form-register" (ngSubmit)="onSubmit()">

						<mat-form-field>
							<mat-label>Email</mat-label>
							<input type="email" matInput [formControl]="form.controls.email">
							<mat-error *ngIf="form.controls.email.hasError('email') && !form.controls.email.hasError('required')">
								Please provide a valid email address
							</mat-error>
							<mat-error *ngIf="form.controls.email.hasError('required')">
								Required field
							</mat-error>
						</mat-form-field>
						

						<mat-form-field>
							<mat-label>Full name</mat-label>
							<input type="text" matInput [formControl]="form.controls.fullName">
							<mat-error *ngIf="form.controls.fullName.hasError('required')">
								Required field
							</mat-error>
						</mat-form-field>

						<mat-form-field>
							<mat-label>Phone</mat-label>
							<input type="tel" matInput [formControl]="form.controls.phone" placeholder="+994509666225">
							<mat-error *ngIf="form.controls.phone.hasError('required')">
								Required field
							</mat-error>
							<mat-error *ngIf="form.controls.phone.hasError('pattern')">
								Required field
							</mat-error>
						</mat-form-field>

						<mat-form-field>
							<mat-label>Password</mat-label>
							<input type="password" matInput [formControl]="form.controls.password">
							<mat-error *ngIf="form.controls.password.hasError('required')">
								Required field
							</mat-error>
							<mat-error *ngIf="form.controls.password.hasError('minlength')">	
							Minimum of 4 characters
							</mat-error>
						</mat-form-field>

						<button
							class="form-register__btn-submit"
							type="submit"
							mat-raised-button
							color="primary"
							[disabled]="!form.valid || disabledForm"
						>Register</button>

					</form>

				</div>
	
			</div>
		</section>
	
	</main>
	<app-footer></app-footer>
</div>