.footer {
	padding: 10px 0;
	background-color: #ffff;
	box-shadow: 0px 10px 60px rgb(0 0 0 / 10%);
	
}

.container {
	margin: 0px;
}

.footer__wrapper {
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}
