*, *::before, *::after {
	box-sizing: inherit;
}

:root {
	--bgColor: white;
	--color: #212121;
}

html, body {
	height: 100%;
}

html {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	margin: 0;
	background-color: var(--bgColor);
	color: var(--color);
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.container {
	display: block;
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 15px;
}

.container_not-pad {
	padding-left: 0;
	padding-right: 0;
}

.page {
	display: grid;
	grid-auto-rows: auto 1fr auto;
	min-height: 100vh;
}

.mdc-button {
	min-width: auto !important;
	height: auto !important;
	padding: 0.8em 1.6em !important;
}

.btn_minus,
.btn_plus {
	padding: 0.5em 1em !important;
}

.btn_buyed {
	--mdc-protected-button-container-color: #929292 !important;
}
