<div class="page">
	<app-header class="header"></app-header>

	<main class="main">
		
		<section class="section section_intro">
			<div class="container">
				<div class="container__intro">
	
					<div class="intro">
						<h1 class="intro__title">Welcome to the relEvent PR Agency</h1>					
					</div>
		
				</div>
			</div>

			<div class="section_intro-background">
				<img src="assets/img/main6.gif" alt="" class="section_intro-background-img">
			</div>
		</section>

		<section class="section section_info">
			<div class="container">

				<div class="info">

					<div class="info-card-wrapper">
						<div class="info-card info-card_first">
							<img src="assets/img/event.png" alt="" class="info-card__img">
							<div class="info-card__text">Our service</div>
							<div class="info-card__title">WHAT WE CAN DO?</div>
						</div>

						<div class="info-card">
							<img src="assets/img/lamp1.png" alt="" class="info-card__img">
							<p class="info-card__text">Media relations, digital strategy,  content creation, internal communications...</p>
							<h2 class="info-card__title">MARKETING & PR</h2>
						</div>

						<div class="info-card">
							<img src="assets/img/lamp1.png" alt="" class="info-card__img">
							<p class="info-card__text">Media planning, Media placement (Broadcast media, print, outdoor, online, mobile)...</p>
							<h2 class="info-card__title">ADVERTISING</h2>
						</div>

						<div class="info-card">
							<img src="assets/img/lamp1.png" alt="" class="info-card__img">
							<p class="info-card__text">Event planning, budgeting, monitoring, reporting, creating an event design ...</p>
							<h2 class="info-card__title">EVENT ORGANIZATION</h2>
						</div>

						<div class="info-card">
							<img src="assets/img/lamp1.png" alt="" class="info-card__img">
							<p class="info-card__text">International transportation, warehousing, freight management, customs clearance...</p>
							<h2 class="info-card__title">OPERATIONS & LOGISTICS</h2>
						</div>

						<div class="info-card">
							<img src="assets/img/lamp1.png" alt="" class="info-card__img">
							<p class="info-card__text">Brand creation, brand implementation, rebranding...</p>
							<h2 class="info-card__title">BRANDING</h2>
						</div>			

					</div>					
				</div>
			</div>
		</section>

		<section class="section section_clients">
			<div class="container">	
				<div class="clients">
					<h1 class="clients__intro">OUR CLIENTS</h1>										
	
					<div class="clients__logo">
						<img src="assets/img/youth.png" class="clients__logo-img">
						<img src="assets/img/mercedes.png" class="clients__logo-img">
						<img src="assets/img/epam.png" class="clients__logo-img">
						<img src="assets/img/google.png" class="clients__logo-img">
						<img src="assets/img/bcc.png" class="clients__logo-img">					
					</div>
				</div>
			</div>
		</section>
	
		<section class="section section_contacts">
			<div class="container container_not-pad">
				<div class="contacts">
					<h1 class="contacts__info">Have questions? Call now *9669</h1>	
					<div class="contacts__background">
						<img src="assets/img/computer.jpg" alt="" class="contacts__background-img">
					</div>									
				</div>
			</div>
		</section>

	</main>
	<app-footer></app-footer>
</div>